server:
  port: 8084
spring:
  cloud:
    config:
      server:
        git:
          default-label: gateway
          uri: https://github.com/marcoh11/microservicios
          searchPaths: config-data
  application:
    name: config-service